@import vars
@import fonts
@import libs

@import event-page
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap')
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap')

*, body
    margin: 0
    font-family: Fira Sans, sans-serif !important
.datepicker-here
    font-family: Fira Sans, sans-serif !important
.container_menu
    @include flex-center
    width: 100%
    height: 70px
    background-color: white
.nav_bar
    width: 90%
    @include flex-center
    margin: auto
.block_logo
    display: flex
.logo
    width: 50px
    height: 45px
.logo_text
    margin-left: 5px
    font-size: 30px
    font-weight: 600
    color:#1D4B71 
    text-transform: uppercase
    font-family: 'Noto Sans JP', sans-serif
.logo_text span
    color:#2C80C6
    font-weight: 400
.nav_bar a
    text-decoration: none !important
    outline: none !important
a 
    outline: none !important
.container
    background-color: $background-color-container
    width: 100%
    min-height: calc(100vh - 150px)
.container_list_search
	display: flex
	justify-content: space-between
	width: 90%
	margin: auto
.container_search_event
    width: 25%
    margin-top: 10px
.container_search_event_mob
    width: 80%
    margin: auto
.container_list_events
    width: 70%
    padding-bottom: 15px
    margin-top: 10px
hr
    width: 40%
    border: 0
    border-top: 1px solid rgba(24,28,33,.06)
.event_date_line
    @include flex-center
.event_date
    padding: 10px 10px
    color: $color-grey
.event_card
    @include flex-center
    background-color: white
    margin: 5px 0
    border-radius: 10px
    cursor: pointer
    padding: 5px 10px
    text-decoration: none !important
.event_card_date_info
    display: flex
.event_card:hover
    background-color: $card-hover-color
.event_card_date
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: $color-grey
    margin: 0 15px
.event_title_tag
    // display: flex
.event_card_img
    max-width: 100px
.event_title
    font-size: 15px
    color: #074795
.event_tag
    @include event_tag
.event_tag_big
    font-size: 12px
    padding: 5px 8px
.event_by
    @include event_by
.event_time
    margin-top: 3px
    font-weight: 500
.title_img_mob
    display: flex
    align-items: center
    margin-bottom: 5px
.event_card_img_mob
    display: none
    width: 30px
    height: 20px
    margin-right: 10px
.event_time_mob
    @include event_by
    display: none
.event_location_price, .event_location, .event_price
    display: flex
    align-items: center
    font-size: 12px
    color: $color-grey-light
    margin-right: 20px
.location_icon, .price_icon
    @include for_icon
.event_title_tag, .event_by, .event_location_price, .event_time_mob
    margin-bottom: 4px
.tags_info
    display: flex
.green_tag_info
    background-color:#28a745
    color: white
    margin-right: 5px
.info_icon
    margin-left: 5px
    min-width: 18px
    max-width: 18px
    min-height: 18px
    align-self: flex-start
.info_icon_color 
	fill: $color-grey
.info_icon_color:hover
	fill: black
input[type=text], select, input[type=date], input[type=time], input[type=file], input[address], input[type=email]
  padding: 3px 8px
  display: inline-block
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  font-size: 12px
textarea
    @include for_textarea
    height: 150px
#modal_client_info
    @include for_textarea
    height: 60px
label
    font-size: 14px
    margin-bottom: 0
input[type=submit]
    @include input_submit
    width: 100%
input[type=submit]:hover
  	opacity: 0.5
.form_group
	display: flex
	flex-direction: column
	margin-bottom: 5px
.search_title
    text-align: center
    font-size: 16px
    padding: 5px
.search_toggle
    width: 100%
    display: flex
    justify-content: center
    display: none
#search_icon
    display: none
    cursor: pointer
.show_toggle_search
    display: block
.datepicker--day-name
    color: #45bced !important
.datepicker
    width: auto !important
footer
    background-color: #AEB6BF
.container_footer
    width: 70%
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
.logo_footer
   padding: 10px
.group_payment_icon
    margin-bottom: 10px
.container_search_create 
    display: flex
    align-items: center
.container_create_event
    display: flex
    align-items: center
    cursor: pointer
.container_create_event:hover, #search_icon:hover
    opacity: 0.7
.create_event_icon
    width: 24px
    margin-right: 5px
.create_event_text
    font-weight: 600
    font-size: 14px
    color: #666

// MODAL CREATE EVENT
/* The Modal (background) */
.container_modal, .container_modal_moderation, .container_modal_error, .container_modal_notfound
    display: none
    position: fixed
    z-index: 99
    padding-top: 50px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

/* Modal Content */
.modal_content
    @include modal_content
    width: 60%
.modal_content_moderation, .modal_content_error, .modal_content_notfound
    @include modal_content
    width: 50%
/* The Close Button */
.close_modal, .close_modal_moderation, .close_modal_error, .close_modal_notfound
    color: #aaaaaa
    margin-left: 5px
    font-size: 28px
    font-weight: bold
.close_modal:hover,
.close_modal:focus,
.close_modal_moderation:hover,
.close_modal_moderation:focus,
.close_modal_error:hover,
.close_modal_error:focus,
.close_modal_notfound:hover,
.close_modal_notfound:focus
    color: #000
    text-decoration: none
    cursor: pointer
.modal_header
    @include flex-center
.modal_title
    font-size: 18px
#submit_create_event
    @include input_submit
    width: 20%
    margin-top: 10px
.datepicker_event_start
    width: 100%
// END MODAL CREATE EVENT

// VALIDATION
.error_msg
    color: red
    font-size: 10px

// END VALIDATION
#pagination
    display: flex
    justify-content: center
    padding: 5px 0 20px 0
    background-color: $background-color-container
.container_search_category
    display: flex
.search_category
    margin: 0 10px 10px 0
    font-weight: 400
    cursor: pointer
    // color: #45bced
    color: black
.search_category:hover 
    color:#0793CB
//start drop-down category
.arrow_down, .arrow_down_mob
	border: solid #666
	border-width: 0 3px 3px 0
	display: inline-block
	padding: 4px
	transform: rotate(45deg)
	-webkit-transform: rotate(45deg)
	margin-left: 5px
.arrow_down:hover, .arrow_down_mob:hover
    border-color: #0793CB
.border_none 
	border: none
.dropdown_window, .dropdown_window_mob
	position: relative
	display: inline-block

.dropdown_content, .dropdown_content_mob
    display: none
    position: absolute
    right: -45px
    top: 30px
    background-color: #fff
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 99999
.dropdown_content_mob
    right: -60px
.container_category
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 400px
.container_category_mob
    display: flex
    width: 280px
    flex-direction: row
    flex-wrap: wrap
.item_category
    font-size: 15px
    color: black
    padding: 10px 14px
    min-width: 170px
.container_category_mob .item_category
    font-size: 12px
    padding: 8px 12px
    min-width: 110px
.item_category:hover
	color: #0793CB
.show
	display: block
.color_active_cat 
    color: #0793CB !important
    border-color: #0793CB
//end drop-down category
// start block spinner
.block_spinner
    position: fixed
    top: 40%
    left: 35%
.hide_spinner
    display: none
.spinner
    width: 4rem
    height: 4rem
    border-top-color: #999
    border-left-color: #999
    animation: spinner 400ms linear infinite
    border-bottom-color: transparent
    border-right-color: transparent
    border-style: solid
    border-width: 5px
    border-radius: 50%  
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    animation: spinner 1s linear infinite
@keyframes spinner
    0% 
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
// start block spinner
@media (min-width: 768px) and (max-width: 992px)
    .container_list_events
        margin: 10px auto 0 auto
        width: 70%
    hr
        width: 35%
    .event_card_date
        display: none
    .event_time_mob, .event_card_img_mob
        display: block
@media (min-width: 200px) and (max-width: 768px)
    .event_location_price
        flex-direction: column
        align-items: flex-start
    #search_icon
        display: block
    .container_menu
        height: 50px
    .logo
        width: 30px
        height: 30px
    .logo_text
        font-size: 20px
    .container_list_events
        margin-left: 0
        width: 100%
    .event_card_date, .container_search_event, .create_event_text
        display: none
    .create_event_icon
        width: 20px
        margin-right: 15px
    .event_time_mob, .event_card_img_mob
        display: block
    .modal_content
        width: 90%
    #submit_create_event
        width: 40%
    textarea
        height: 100px
    .modal_content_moderation, .modal_content_error, .modal_content_notfound
        width: 90%
    .block_spinner
        left: calc( 50% -  1.5em)
    .spinner
        width: 2.5rem
        height: 2.5rem
        border-width: 2px
@media (max-width: 768px)
	// .container_list_events
	// 	margin-left: 0
	// 	width: 100%
	// .event_card_date, .container_search_event
	//   	display: none
@media (max-width: 576px)
	.event_title_tag
		flex-direction: column
	.event_tag 
		width: fit-content
	hr
		width: 25%
@media (max-width: 300px)
    .info_icon
        display: none
		
